# Parameters for crypto-ws-api connector
# Copyright © 2023-2025 Jerry Fedorenko aka VM
# __version__ = "2.0.21"

# region endpoint
[endpoint]
    [endpoint.binance]
        ws_api = 'wss://ws-api.binance.com:443/ws-api/v3'
        ws_api_test = 'wss://ws-api.testnet.binance.vision:9443/ws-api/v3'
# endregion

# region Binance accounts
# How to Generate an Ed25519 Key Pair and Register then on Binance:
# https://www.binance.com/en/support/faq/detail/6b9a63f1e3384cf48a2eedb82767a69a
[[accounts]]
    exchange = 'binance'
    name = 'Demo - Binance'
    api_key = '*********** Place API key there ************'
    api_secret = """
-----BEGIN PRIVATE KEY-----
*********** Place Private Ed25519 key there ************
-----END PRIVATE KEY-----
"""
    test_net = true
# endregion
